*.elf
*.i64
*.id0
*.id1
*.id2
*.idb
*.nso
*.pfs0
*.nacp
*.nam
*.nro
*.o
*.til
*.pchtxt
*.ips
*.lst
.vscode/
build*/
debug/
release/
lib/
linkerscripts/symstemp.ld
starlight_patch*/
scripts/.idea/*
!exported.txt
1.0 Dumps/
1.1 Dumps/
crashes/